body
	{background: url(https://sp.yimg.com/ib/th?id=OIP.
		Mfa1a831839ddf2c70da2aead4ce4b436H0&pid=15.1&P=0);

	background-size; cover;	

	color: Black;
	font-family: Serif;
	font-size: 18px


	}

h1{text-align: center;}
p { font-size: 18px;}
a { font-family: Georgia;
	font-size: 14px;}